body {
    background-color: rgb(4,35,60);
    font-family: 'Montserrat', sans-serif; 
    padding-bottom: 3rem;
    margin-left:3rem;
    margin-right:4rem;
    
}


.tbl-container{
    background-color: rgb(188,149,86);
    border-radius: 1rem;
}


.divider {
    height: 2px;
    background-color: rgba(83, 83, 83, 0.5); /*any color with lower opacity*/
}

.form-container{
    background-color: rgb(188,149,86);
    border-radius: 1rem;
    color: white;
    width: 60%;
}

.selectpicker > option[selected] {
    display: none;
}

.bg-red{
    background-color: #EF2D56;
}

.bg-green{
    background-color: #32965D;
}
